body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #c6e5ee;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.skills li {
    display: inline-block;
    background-color: #f4f4f4;
    padding: 5px 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info i {
    margin-right: 10px;
    color: #333;
}
.social-links {
  padding: 20px;
}
.social-links{
    font-size: 40px;
    padding: 10px;   
}
a{
	text-decoration: none;
}